/* Font Face Definitions */
@font-face {
    font-family: 'Lulo Clean One Bold';
    src: url('/assets/fonts/LuloCleanBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verb Light';
    src: url('/assets/fonts/VerbLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
    font-family: 'Verb Light', sans-serif;
    background-color: #ffffff;
    color: #172e62;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

/* Header */
header {
    padding: 20px;
}

#logo {
    width: 100px;
}

/* Main Layout */
.double-column {
    display: flex;
    justify-content: space-between;
}

/* Section Titles */
h1,
h2,
h3 {
    text-align: center;
    font-family: 'Lulo Clean One Bold', sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

/* Carousel */
.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 50px;
    width: 350px;
    height: 350px;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 40px;
    width: 310px;
    padding: 20px;
    object-fit: contain;
}

.guideline-image {
    min-width: 100%;
    object-fit: inherit;
}

/* Carousel Navigation */
.nav-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.nav-buttons button {
    background-color: #0197E1;
    border: none;
    border-radius: 25px;
    pointer-events: auto;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.nav-buttons img {
    width: 20px;
}

/* Templates */
#templates {
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    height: 350px;
}

.templates-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.templates-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.templates-content li {
    position: relative;
    margin-bottom: 10px;
}

.templates-content a {
    text-decoration: none;
    color: #172e62;
    font-weight: bold;
}

.templates-content a:hover {
    color: #0197E1;
}

/* Preview */
.preview {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    z-index: 10;
}

.preview img {
    width: 100%;
    border-radius: 8px;
}

.templates-content li:hover .preview {
    display: block;
}

/* Fonts & Colors Info Box */
.additional-info {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    gap: 10px;
}

.info-box {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 100px;
    text-align: center;
}

/* Info Box Lists */
.info-box-fonts ul,
.info-box-colors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Fonts List */
.info-box-fonts li {
    margin-bottom: 5px;
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 5px;
}

/* Colors List */
.info-box-colors li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

/* Download Icon */
.download-icon-templates {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.download-icon-fonts {
    position: absolute;
    bottom: 20px;
    left: 140px;
    width: 20px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #0197E1;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.social-icons img {
    width: 30px;
    cursor: pointer;
}